# These sections can specify manufacturer specific profiles for different charger characteristics
# coarse_probe_threshold_margin is the number of units above the active threshold that
# the script will switch into a shorter 5 minute probe to better detect the finish condition.
# E.G.  In the Rad section below, if we are in nominal mode, the script will begin probing a shorter
# interval (5 min) when the power drops below 110.0 units.
#
# If a manufacturer profile is missing an entry, or misspells will cause any plugs using that profile
# to use the script DEFAULT profile.
# The storage_charge_battery_power_threshold entry is optional.  If it is missing, the nominal_charge_battery_power_threshold
# will be switched in place or it.
[Rad]
nominal_charge_battery_power_threshold = 45.0
full_charge_battery_power_threshold = 5.0
storage_charge_battery_power_threshold = 115.0
# When charging in storage mode, limit repeat cycles to 1 to minimize overhead on battery
storage_charge_battery_cycle_limit = 1
coarse_probe_threshold_margin = 20.0
charger_amp_hour_rate = 2.0
battery_amp_hour_capacity = 14.0

[Lectric]
nominal_charge_battery_power_threshold = 40.0
full_charge_battery_power_threshold = 10.0
coarse_probe_threshold_margin = 20.0
charger_amp_hour_rate = 2.0
battery_amp_hour_capacity = 14.0

# This section allows assigning different manufacturer profiles to specific plugs
# Where plug name has a manufacturer not listed, the script default values will be used.
[Plugs]
rad_battery_1 = Rad
rad_battery_2 = Rad
rad_battery_3 = Rad
lectric_battery_1 = Lectric
lectric_battery_2 = Lectric
lectric_one = Lectric
# Just a test to validate we can name a plug without battery_ in name
# lectric_no_prefix = Lectric

# This section allows setting specific plugs into storage mode
[Storage]
#rad_battery_3

# This section allows setting specific plugs into full charge mode all the time.
# Storage overrides FullCharge so a plug that is in both the Storage and FullCharge sections is be treated
# as a Storage.
[FullCharge]
