[Rad]
nominal_charge_stop_power_threshold = 90.0
full_charge_power_threshold = 5.0
coarse_probe_threshold_margin = 20.0

[Lectric]
nominal_charge_stop_power_threshold = 80.0
full_charge_power_threshold = 4.0
coarse_probe_threshold_margin = 20.0


[Plugs]
rad_battery_1 = Rad
rad_battery_2 = Rad
rad_battery_3 = Aventon
lectric_battery_1 = Lectric
lectric_battery_2 = Lectric
