# These sections can specify manufacturer specific profiles for different charger characteristics
# coarse_probe_threshold_margin is the number of units above the active threshold that
# the script will switch into a shorter 5 minute probe to better detect the finish condition.
# E.G.  In the Rad section below, if we are in nominal mode, the script will begin probing a shorter
# interval (5 min) when the power drops below 110.0 units.
#
# If a manufacturer profile is missing an entry, or misspells will cause any plugs using that profile
# to use the script DEFAULT profile.
# The storage_charged_battery_power_threshold entry is optional.  If it is missing, the nominal_charged_battery_power_threshold
# will be switched in place or it.
[Rad]
nominal_charged_battery_power_threshold = 90.0
fully_charged_battery_power_threshold = 5.0
storage_charged_battery_power_threshold = 115.0
coarse_probe_threshold_margin = 20.0

[Lectric]
nominal_charged_battery_power_threshold = 80.0
fully_charged_battery_power_threshold = 4.0
coarse_probe_threshold_margin = 20.0

# This section allows assigning different manufacturer profiles to specific plugs
# Where plug name has a manufacturer not listed, the script default values will be used.
[Plugs]
rad_battery_1 = Rad
rad_battery_2 = Rad
rad_battery_3 = Rad
rad_power_1 = Rad
lectric_battery_1 = Lectric
lectric_battery_2 = Lectric
lectric_1 = Lectric
lectric_2 = Lectric

# This section allows setting specific plugs into storage mode
[Storage]
lectric_battery_1
rad_battery_3

# This section allows setting specific plugs into force mode all the time.
# A plug that is in both the Storage and FullCharge sections is be treated
# as a Storage.
[FullCharge]
rad_battery_1
lectric_battery_1